@use "../abstracts/" as *;

.ff-base {
  font-family: $font-family-base;
}

.ff-medium {
  font-family: $font-family-medium;
}

.ff-bold {
  font-family: $font-family-bold;
}

.ff-light {
  font-family: $font-family-light;
}

.ff-wordmark
{
  font-family: $font-family-wordmark;
}