@use "../abstracts/" as *;

.ff-base {
  font-family: $font-family-base;
}

.ff-semibold {
  font-family: $font-family-semibold;
}

.ff-bold {
  font-family: $font-family-bold;
}

.ff-wordmark
{
  font-family: $font-family-wordmark;
}